In [ ]:
#Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out

In [3]:
import pandas as pd
df=pd.read_csv('fitbit data.csv')
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [3]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [14]:
#1
def connection(db):
    '''create connection with database'''
    try:
        mydb = connection.connect(host='localhost',user='root',password='password',database = db,use_pure=True)
        return mydb
    except Exception as e:
        print(str(e))

In [1]:
#2
from sqlalchemy import engine

In [ ]:
#read data from mysql
import mysql.connector as sql
mydb = conne.connect(host = 'localhost', user = 'root', password = 'password')
cursor = mydb.cursor()
cursor.execute("create database FitBitdata")

In [ ]:
engine = create_engine('mysql+pymysql://root:8067@localhost/FitBit data')
fitbit.to_sql('FitBit data', con=engine)

In [9]:
import pymongo
from pymongo import database
client = pymongo.MongoClient("mongodb+srv://vishal:password@cluster0.1uqi6.mongodb.net/?retryWrites=true&w=majority")

database = client['fitbits']

coll = database['fitbit data']
data= coll.find()
for i in data:
    print(i)

In [28]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [23]:
#3
df['ActivityDate']=pd.to_datetime(df['ActivityDate'])
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [26]:
#4
df['Id'].nunique()

35

In [6]:
#5
df.groupby('Id')['VeryActiveMinutes'].sum().idxmax()

8053475328

In [5]:
#6
df.groupby('Id')['LoggedActivitiesDistance'].sum().apply(lambda x:x<1).value_counts()

True     30
False     5
Name: LoggedActivitiesDistance, dtype: int64

In [10]:
#7
df.groupby('Id')['VeryActiveMinutes'].sum().idxmin()

1927972279

In [11]:
#8
df.groupby('Id')['Calories'].sum().apply(lambda x:x>2200*7).value_counts()

True     34
False     1
Name: Calories, dtype: int64

In [12]:
#9
df[df['TotalSteps']==0]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
51,1844505072,4/4/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,669,1347
52,1844505072,4/5/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347
59,1844505072,4/12/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,426,399
96,2320127002,4/1/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324
97,2320127002,4/2/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,8253242879,4/2/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
403,8253242879,4/3/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
404,8253242879,4/4/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
405,8253242879,4/5/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
412,8253242879,4/12/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0

In [17]:
#10
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending = False)[2:3]

Id
8877689391    802
Name: VeryActiveMinutes, dtype: int64

In [ ]:
# sql query
select id, sum(VeryActiveMinutes) from fitbit_data group by Id ORDER BY sum(VeryActiveMinutes) DESC LIMIT 1 OFFSET 2;

In [19]:
#11
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values()[4:5]

Id
6117666160    5
Name: VeryActiveMinutes, dtype: int64

In [20]:
#12
df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64